---
import { dataTools } from "../../services/dataTools";
import CardTools from "./CardTools.astro";
---

<style>
    .scrollBgAplications {
        &::-webkit-scrollbar {
            width: 5px;
           
        }
        &::-webkit-scrollbar-thumb {
            @apply bg-gray-500 rounded-full;
        }
    }
</style>

<div
    class="scrollBgAplications md:w-1/2 flex flex-wrap justify-evenly  gap-4 overflow-y-scroll p-3 max-h-[45vh] md:max-h-[70vh] lg:max-h-[70vh]"
>
{
    dataTools.map(({ img, id, byDeveloper, link, nameProject}) => <CardTools byDeveloper={byDeveloper} id={id}  img={img} link={link} nameProject={nameProject} />)
}
</div>